*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_box{
    width: 500px;
    height: 600px;
    margin:  50px auto 0 ;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.f1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iput_name{
    width: 400px;
    height: 30px;
    margin: 20px 0 20px;
}

.man_woman,
.select,
.checkbox_label{
    margin: 20px auto 10px;
}

.button,.second_button{
    height: 30px;
    width: 500px;
}

.second_block{
    width: 500px;
    height: 600px;
    margin:  50px auto 0 ;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.all_info_2{
    font-size: 30px;
    margin: 20px auto 0;
}

.man_woman__photo{
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

